
  <div class="container color-dark">

<div class="col">
  <p class="sm"> Here you can get more information about your Trello-Cards:</p>
</div>

</div>
<div class="container color-light">
  <div class="col">
    <ul class="board-list-container">
      <p>Boards</p>
      <li  *ngFor="let board of boards"  (click)="getListsByBoardId(board.id); getMembersByBoardId(board.id); ">

        {{ board.name  }}

      </li>

    </ul>
  </div>

  <div class="col">


    <ul class="card-list-container">
      <p>Members</p>
      <li *ngFor="let member of members" >
        {{ member.fullName +" aka. " + member.username }}
      </li>
    </ul>

  </div>

  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>Lists</p>
      <li  *ngFor="let list of lists; let board of boards" (click) = "getCardsByBoardId(list.id); ">
        {{ list.name}}

      </li>
    </ul>

  </div>
  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>Cards</p>
      <li  *ngFor="let card of cards " (click) = "getChecklistByCardId(card.id) ">

        {{ card.name }}
      </li>
    </ul>

  </div>

  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>Checklists</p>
      <li  *ngFor="let checklist of checklists" (click) = "getCheckItemsByChecklistId(checklist.id)" >

        {{ checklist.name}}
      </li>
    </ul>

  </div>

  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>CheckItems</p>
      <li  *ngFor="let checkItem of checkItems"  >

        {{ checkItem.name}}
      </li>
    </ul>

  </div>





</div>

