
  <div class="container color-dark">

<div class="col">
  <h2> Here you can get more information about your Trello-Cards:</h2>
</div>

</div>
<div class="container color-light">
  <div class="col">
    <ul class="board-list-container">
      <p>Boards</p>
      <li  *ngFor="let board of boards" (click)="getListsByBoardId(board.id)">
        {{ board.name }}
      </li>
    </ul>
  </div>
  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>Lists</p>
      <li  *ngFor="let list of lists" (click) = "getCardsByBoardId(list.id)">
        {{ list.name}}

      </li>
    </ul>

  </div>
  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>Cards</p>
      <li  *ngFor="let card of cards" (click) = "getChecklistByCardId(card.id)">

        {{ card.name}}
      </li>
    </ul>

  </div>

  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>Checkliste</p>
      <li  *ngFor="let checklist of checklists" (click) = "getCheckItemsByChecklistId(checklist.id)" >

        {{ checklist.name}}
      </li>
    </ul>

  </div>

  <div class="col">

    <hr>
    <ul class="card-list-container">
      <p>CheckItems</p>
      <li  *ngFor="let checkItem of checkItems"  >

        {{ checkItem.name}}
      </li>
    </ul>

  </div>








</div>

