<div class="container color-dark">
  <div class="col">
    <p>My active Boards on Trello</p>
  </div>
  <div class="col">
    <p>Add a new Board</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <ul class="board-list-container">
      <li  *ngFor="let board of boards" (click)="getCardsByBoardId(board.id)">
        {{ board.name }}
      </li>
    </ul>
  </div>
  <div class="col">
    <p class="sm">  You can use this form to add a new Trello-Card to your selected Board.
                    Simply click on a Board of to Boardlist to show your current Cards.</p>
    <hr>
    <ul class="card-list-container">
      <li  *ngFor="let card of cards">
        {{ card.name }}
      </li>
    </ul>
    <form>
      <hr>
      <p class="sm">  Insert the name of your new card in the textbox below and click
                      on the green button to finally add your card to the selected board.</p>

      <input type="text" class="txt" name="card" placeholder="Name of your board..">
      <input type="submit" class="btn" value="Add Card">
    </form>
  </div>
</div>
