<div class="container color-dark">
  <div class="col">
    <p>My active Cards on Trello</p>
  </div>
  <div class="col">
    <p>Add a new Card</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="card-list-container">
      This is a static created Trello-Card
    </p>
  </div>
  <div class="col">
    <p class="sm">You can use this form to add a new Trello-Card. What task would you like to add to your board?</p>

    <form>
      <input type="text" class="txt" name="card" placeholder="Name of your card..">
      <input type="submit" class="btn" value="Add Card">
    </form>
  </div>
</div>
