/* You can add global styles to this file, and also import other style files */

#sorry_box {
  width: 500px;
  height: auto;
  text-align: center;
}

#headline {
  color: black;
}

#headline_description {
  color: #778899;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
