#nav-container {

}

#user-container {
  height: 100px;
  width: 400px;
  right: 0px;
  position: absolute;
  padding: 10px;
  top: 0px;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#user-container a {
  color: #fff;
}

.avatar-img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
