<!-- Navigation bar of our root app component -->

<nav>
  <a routerLink="">Dashboard</a>
  <a routerLink="details">Details</a>
  <a routerLink="visual">Visual</a>
</nav>

<!--
Usually we're nesting the different components into our root like this:

<app-dashboard></app-dashboard>
<app-details></app-details>
<app-visual></app-visual>

But for now we don't need this anymore because we'er using the routing module
to switch between our different components with the navigation bar on our site.
-->

<!-- Router outlet shows you the component you navigated through 'routerLink' -->
