<!-- Navigation bar of our root app component -->

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="#"> <img class="logo" src="http://bootstrap-ecommerce.com/main/images/logo-white.png" height="40"> TrelloView</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink=""> Dashboard </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="details"> Details </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="visual"> Visual </a></li>

        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{getUserName()}}
          </button>
          <img class="rounded-circle avatar-img" src="{{avatarImg}}">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{userUrl}}" target="_blank">Trello-Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>

        </div>
      </ul>
    </div>
  </nav>

</div>


<!--
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a routerLink="">Dashboard</a>
    <a routerLink="details">Details</a>
    <a routerLink="visual">Visual</a>
  </div>
</nav>
-->

<!--
Usually we're nesting the different components into our root like this:

<app-dashboard></app-dashboard>
<app-details></app-details>
<app-visual></app-visual>

But for now we don't need this anymore because we'er using the routing module
to switch between our different components with the navigation bar on our site.
-->

<!-- Router outlet shows you the component you navigated through 'routerLink' -->
<router-outlet></router-outlet>
